<h1>New User</h1>
<div class='name'>First name:</div> <input type="text" id="firstname"/><br />
<div class='name'>Last name:</div> <input type="text" id="lastname"/><br />
<div class='name'>Age:</div> <input type="text" id="age"/><br />
<div class='name'>Occupation:</div> <input type="text" id="occupation"/><br />
<button class="btn-post">Create</button>
