<h1>User Detail</h1>
<div>
  <span class='name'>Firstname:</span>
  <span><%= userinfo['firstname'] %></span>
</div>
<div>
  <span class='name'>Lastname:</span>
  <span><%= userinfo['lastname'] %></span>
</div>
<div>
  <span class='name'>Age:</span>
  <span><%= userinfo['age'] %></span>
</div>
<div>
  <span class='name'>Occupation:</span>
  <span><%= userinfo['occupation'] %></span>
</div>
