<html>
	<head>
		<link href="css/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<script src="js/ejs_production.js"></script>
	</head>
	<body>
		<h1>New User</h1>
			<%- include('form', {ID:2}); %>
			<button id="post">Submit</button>
		<h1>Users Stored</h1>
		<div class="userinfo">
			<%- include('persons'); %>
		</div>
		<div id="ejs-injection"></div>
		<script src="js/script.js"></script>
	</body>
</html>
