<html>

<head>
  <link href="/assets/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <ul>
    <% for(var i=0; i<supplies.length; i++) { %>
      <li>
        <a href='supplies/<%= supplies[i] %>'>
          <%= supplies[i] %>
        </a>
      </li>
      <% } %>
  </ul>
</body>

</html>