<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>socketio</title>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="date"></div>
  <script src="js/script.js"></script>
</body>
</html>
