<h1>Person: <%= ID %></h1>
<div class='name'>First name:</div> <input type="text" id="firstname" name="firstname" /><br />
<div class='name'>Last name:</div> <input type="text" id="lastname" name="lastname" /><br />
<div class='name'>Age:</div> <input type="text" id="age" name="age" /><br />
<div class='name'>Occupation:</div> <input type="text" id="occupation" name="occupation" /><br />
