body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 30px;
}

.name {
	display: inline-block;
	width: 130px;
}

button{
	margin-top: 10px;
}

input {
	border: none;
	border-bottom: 2px solid #999;
}

ul {
	list-style-position: outside;
	list-style: none;
	padding: 0px;
}
